@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap');

* {
  margin: 0;
  font-family: 'Outfit', sans-serif;
}

.text-gradient {
  background: -webkit-linear-gradient(#fff683, #a28b35);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}